.row
  .col-md-12
    .panel.panel-success
      .panel-heading
        温度传感器
      .panel-body
        .col-md-4
          span 温度值：
          input(ng-model="model.thermometer.value")
        .col-md-1
          button.btn.btn-success(ng-hide="model.thermometer.enabled", ng-click="start(model.thermometer)")
            i.fa.fa-play开始模拟
          button.btn.btn-warning(ng-hide="!model.thermometer.enabled", ng-click="stop(model.thermometer)")
            i.fa.fa-stop停止模拟
  .col-md-12
    .panel.panel-success
      .panel-heading
        span
          告警开关(访问
          a(href="www.lianwuyun.cn/dashboard")云平台
          ，远程控制本开关)
      .panel-body
        .col-md-4
          span 状态：{{model.alarm.value}}
        .col-md-1
          button.btn.btn-success(ng-hide="model.alarm.enabled", ng-click="start(model.alarm)")
            i.fa.fa-play开始模拟
          button.btn.btn-warning(ng-hide="!model.alarm.enabled", ng-click="stop(model.alarm)")
            i.fa.fa-stop停止模拟
  .col-md-12
    .panel.panel-success
      .panel-heading
        span 数据透传
      .panel-body
        .col-md-4
          span 数据：
          input(ng-model="model.unvarnished.value")
        .col-md-1
          button.btn.btn-success(ng-hide="model.unvarnished.enabled", ng-click="start(model.unvarnished)")
            i.fa.fa-play开始模拟
          button.btn.btn-warning(ng-hide="!model.unvarnished.enabled", ng-click="stop(model.unvarnished)")
            i.fa.fa-stop停止模拟
  .col-md-12
    .panel.panel-info
      .panel-heading
        span
          日志(访问
          a(href="www.lianwuyun.cn/dashboard")云平台
          ，查看发送的数据)
      .panel-body
        p(ng-repeat="log in logs"){{log}}
