.row
  .col-md-5.col-md-offset-3
    form
      .form-group
        span{{errorPrompt}}
      .form-group
        input.form-control#email(type="text", ng-model="email", placeholder="登录邮箱")
      .form-group
        input.form-control#password(type="password", ng-model="password", placeholder="密码")
      .control-group
        .controls
          button.btn.btn-primary(ng-click="login()")登录
          span 或者
          a(ng-click="register()")申请注册
  .col-md-5.col-md-offset-3
    small
      通过云平台配置本地网关，配置完成后可独立运行
