aside.left-side.sidebar-offcanvas
  section.sidebar
    ul.sidebar-menu
      li.treeview
        a(href='#')
          i.fa.fa-bar-chart-o
            span 数据管理
          i.fa.fa-angle-left.pull-right
            ul.treeview-menu
              li
                a(href='pages/charts/morris.html')
                  i.fa.fa-angle-double-right
                    | 业务1
          li
            a(href='pages/charts/flot.html')
              i.fa.fa-angle-double-right
                | 业务2
          li
            a(href='pages/charts/inline.html')
              i.fa.fa-angle-double-right
                | 业务3
      li.treeview
        a(href='#')
          i.fa.fa-bar-chart-o
            span 业务规划
          i.fa.fa-angle-left.pull-right
            ul.treeview-menu
              li
                a(href='pages/charts/morris.html')
                  i.fa.fa-angle-double-right
                    | 业务1
          li
            a(href='pages/charts/flot.html')
              i.fa.fa-angle-double-right
                | 业务2
          li
            a(href='pages/charts/inline.html')
              i.fa.fa-angle-double-right
                | 业务3
      li
        a(href='pages/widgets.html')
          i.fa.fa-th
            span 设备驱动库
          small.badge.pull-right.bg-green new

