!!! 5
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='viewport', content='width=device-width', initial-scale='1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Jambu设备模拟器
    link(rel='stylesheet', href='css/app.css')
    //-script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script.
      window.brunch = window.brunch || {};
      window.brunch['auto-reload'] = {
        enabled: false
      };
    script(src='js/vendor.js')
    script(src='js/partials.js')
    script(src='js/app.js')
  body
    .container-fluid
      .row
        .col-md-9
          p
          div(ui-view)
        .col-md-3
          div(ng-include="'/partials/side-nav.html'")


    script.
      $(angular.bootstrap(document , ['app']))
